.main{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f6f5f7;
    min-height: 100%;
}

.container{
    margin-top: 10%;
    position: relative;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.signUp, .signIn{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6 ease-in-out;
}
.signUp {
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.signIn {
    width: 50%;
    z-index: 2;
}

form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}
h1{
    font-weight: bold;
    margin: 0;
}

p{
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 15px 0 20px 55px;
}

input {
    background-color: #eee;
    padding: 12px 15px;
    margin: 8px 15px;
    width: 100%;
    border-radius: 5px;
    border: none;
    outline: none;
}
button{
    color: #fff;
    background: black;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 55px;
    margin: 20px;
    border-radius: 20px;
    border: 1px solid black;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    cursor: pointer;
}

button:active{
    transform: scale(0.90);
}
.sign-In, .sign-Up{
    background-color: transparent;
    border: 2px solid #fff;
}

.container.right-panel-active .signIn{
    transform: translateX(100%);
}

.container.right-panel-active .signUp{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-Container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-Container{
    transform: translateX(-100%);
}
.overlay{
    position: relative;
    color: #fff;
    background-color: black;
    left: -100%;
    height: 100%;
    width: 200%;
    background: black;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay{
    transform: translateX(50%);
}

.overlay-Left, .overlay-Right{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-Left{
    transform: translateX(-20%);  
}

.overlay-Right {
    right: 0;
    transform: translateX(0); 
}

.container.right-panel-active .overlay-Left{
    transform: translateX(0);  
}
.container.right-panel-active .overlay-Right{
    transform: translateX(20%);  
}